@font-face {
    font-family: projectFont;
    src: url(../fonts/TheWoodlands-Regular.otf);
}
@font-face {
    font-family: titleFont;
    src: url(../fonts/Anson-Regular.otf);
}
.item-heading {
    margin: 40px 25px 0;
    padding: 0;
    font-family: titleFont;
    font-size: 32px;
    text-shadow: 0px 0px 1px yellow;
}
body{
	margin:0;
	}
.background{
	background: url(../Images/closet.jpg);
    background-position: 10% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    position: absolute;
}
.authentication{
	position: absolute;
    padding: 40px;
    background: #ffffff;
    z-index: 2;
    width: 300px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 13%;
     border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        box-sizing: content-box;
}

.authentication input[type="text"],.authentication input[type="password"]{
    width: 100%;
    height: 30px;
    margin: 0 0 20px 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #999;
}
.authentication input[type="text"]:focus,.authentication input[type="password"]:focus{
    outline:none;
    border-bottom: 3px solid rgba(0,105,92,0.82);
}    
a.signup,a.goLogin {
    color: #aaa;
    font-family: inherit;
    font: 12px Arial;
}
a.signup:hover,a.goLogin:hover {
    color: #666;
}
.loginBtn,.signUpBtn,#setup{
	display: block;
    margin: 10px 0 0 0;
    padding: 12px 4px;
    min-width: 100%;
    background: #674172;
    outline: none;
    border: 0;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    cursor:pointer;
    opacity:0.89;
}
.loginBtn:hover,.signUpBtn:hover,#setup:hover{
	opacity:1;
}
.signup-block{
	display:none;
}
.title{
font-family: projectFont;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: right;
    right: 90px;
    font-size: 50px;
}
.pd0{
	padding:0;
}
.pl0{
	padding-left:0;
}
.pr0{
	padding-right:0;
}
.item {
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px #999;
    background:#ffffff;
    padding:5px;
}
.item-name {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color:#22313f;
    text-shadow: 0px 0px 1px yellow;
}
.item-img{
	padding:10px;
}
.item-img img {
    width: 86%;
    max-height: 205px;
    padding: 20px;
    position: relative;
    left: 10px;
}
.post-data {
    padding: 15px;
    background: #eeeeee;
}
.item-block{
	padding:5px;
}

.item-price:after {
    content: '$';
    margin-left: 2px;
}
.item-price:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #22313f;
    left: 5px;
    top: 4px;
}
.item-price {
    position: absolute;
    padding: 12px;
    border-radius: 50%;
    background: #22313f;
    color: #fff;
    right: -16px;
    top: 34px;
    font-family: Arial;
    font-size: 16px;
    z-index: 2;
}
.item-price:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #22313f;
    left: 5px;
    top: 4px;
}
input.getProductData {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #446CB3;
    color: #fefefe;
    height: 30px;
    outline:none;
}
.btn.block {
    width: 100%;
}
.setup_account {
   background: url(../Images/closet_in.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 100%;
}


.tile_account {
    background: #ffffff;
    padding: 20px;
    width:250px;
    box-shadow: 2px 2px 4px #333;
    position: absolute;
    margin: 0 auto;
    top: 18%;
    left: 40%;
    font-family: Arial;
}
.boldMe{
	font-weight:bold;
}
.tilename {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-family: Arial;
}
.mt10{
	margin-top:10px;
}
.acc_first-details span {
    margin-right: 10px;
}

input[type="radio"]+label{ cursor:pointer;font-size: 12px; } 
input[type="radio"]:checked+label{ font-weight: bold; } 
input[type="checkbox"]+label{ cursor:pointer;font-size: 12px; } 
input[type="checkbox"]:checked+label{ font-weight: bold; } 
.project-name {
    font-family: projectFont;
    font-size: 40px;
    float: left;
    position: relative;
    top: -23px;
    cursor:pointer;
}
span.user-name {
    font-family: Arial;
    position: relative;
    top: 5px;
    font-size: 14px;
    color: #ccc;
    cursor:pointer;
}
.header-block {
    width: 960px;
    margin: 0 auto;
}
.header {
        background: rgba(0,0,0,1);
    color: #fefefe;
    padding: 20px 0;
    max-height: 70px;
}
.user {
    float: right;
}
.clear_fix{
	clear:both;
}

.user-popup {
    display:none;
    position: absolute;
    background: #fefefe;
    box-shadow: 2px 2px 2px #999;
    color: #333;
    right: 220px;
    top: 50px;
    z-index: 6;
    text-align: center;
    width:200px;
}
ul.user-actions li:last-child {
    border: 0;
}
.user-popup:before
{
	    content: '';
    width: 10px;
    height: 10px;
    background: #fefefe;
    position: absolute;
    top: -3px;
    right: 6px;
    transform: rotate(45deg);
}
span.user-icon {
    position: relative;
    top: 5px;
    right: 5px;
}
ul.user-actions {
    margin: 0;
    padding: 10px;
}
ul.user-actions li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    cursor:pointer;
    
}
ul.user-actions li:hover {
    background: #666666;
    cursor: pointer;
    color: #fefefe;
}
ul.user-actions li:last-child{
	border:0;
}
ul.user-actions li span{
    margin-right:5px;
}
.header-act {
    position: relative;
    float: left;
    margin-left: 100px;
    top: 5px;
    padding-bottom: 25px;
    padding: 0 10px 20px 10px;
    cursor:pointer;
}
.pageActive{
	 border-bottom: 5px solid #f5d04c;
}
.body-content{
	width:960px;
	margin:0 auto;
}
.pd0{
	padding:0;
}
.attributes-panel {
    padding: 20px;
    background: #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #ccc;
}
.attributes-panel input[type="text"],textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 0;
}
.attributes-panel input[type="radio"]+label{
	font-family:arial;
	font-size:14px;
	font-weight:normal;
	margin-right:10px;
}
.attributes-panel label{
	margin-left:5px;
}
select{
	    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 0;
}
.image_section{
	background: #fefefe;
    padding: 56px 20px;
}
.img-upload {
    width: 200px;
    height: 200px;
    margin: 50px 155px;
}
.submit_action{
	margin:39px
}
input.upload_action {
    margin-top: 10px;
    background: #EEE;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
}
input.submit_action {
    background: #333;
    color: #fefefe;
    padding: 12px 40px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    left: 550px;
    top: 360px;
    z-index: 2;
}
.donateItem{
    margin-top: 30px;
}
button.upload_action {
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #eee;
}
input#showDetails+label {
    margin-top: 10px;
}
.items-container,.ItemDetail {
    width: 960px;
    margin: 0 auto;
}
.image-detail img {
    width: 100%;
    padding: 60px 40px;
}
span.detail_label {
    font-family: titleFont;
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    padding: 4px;
}
span.bName {
    font-family: titlefont;
    font-size: 18px;
    color: #c0392b;
}
.price-detail {
    padding: 10px;
    position: absolute;
    background: #2c3e50;
    z-index: 2;
    text-align: center;
    font-family: titleFont;
    font-size: 20px;
    left: 60px;
    box-shadow: 0px 2px 2px #ccc;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #fefefe;
}
.price-detail:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    z-index: 2;
    background: #3498db;
    left: -33px;
    box-shadow: 0px 2px 2px #ccc;
}
.price-detail:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    z-index: 2;
    background: #3498db;
    right: -33px;
    top: 10px;
    box-shadow: 0px 2px 2px #ccc;
}
span.CartCount {
    border-radius: 50%;
    background: #f5d04c;
    width: 20px;
    HEIGHT: 20PX;
    display: block;
    padding: 5px 6PX;
    LINE-HEIGHT: 0.8;
    COLOR: #000;
    POSITION: ABSOLUTE;
    TOP: 0;
    RIGHT: -22px;
}
.addTocart {
    margin-top: 30px;
}
button.addtoCart {
    background: #eee;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 30px;
    border-radius: 5px;
    outline:none;
}
button.addtoCart:hover{
	background:#666;
	color:#fefefe;
}
.cart{
	float: right;
    position: relative;
    top: 5px;
    right: 54px;
    cursor:pointer;
}
.cart-sym{
	margin-right:5px;
}
.cart-popup-div{
    display: none;
    position: absolute;
    background: #fefefe;
    box-shadow: 1px 2px 2px #666;
    color: #333;
    right: 330px;
    top: 50px;
    z-index: 6;
    text-align: center;
    padding: 15px;
    width: 220px;
}
.cart-popup-div:before
{
	    content: '';
    width: 10px;
    height: 10px;
    background: #fefefe;
    position: absolute;
    top: -3px;
    right: 6px;
    transform: rotate(45deg);
}
input.checkoutBTN {
    width: 100%;
    border: 1px solid #ccc;
    background: #f5d04c;
    padding: 5px;
    border-radius: 3px;
    opacity:0.89;
}
input.checkoutBTN:hover{
	opacity:1;
}
.cartImg img {
    width: 40px;
    height: 40px;
}
.cartItemData{
    padding: 0;
}
.icPrice {
    font-size: 12px;
}
.icPrice:after,span.cPrice:after,span.orderPrice:after {
    content:'$';
    margin-left:3px;
}
.cartItem {
    padding: 0;
    margin-bottom: 10px;
}
.cartContainer,.checkoutTable{
	margin:40px 0;
}
.cartPage{
	background:#eee;
	padding: 20px;
    border-radius: 5px;
}

.CartItemBlock {
    padding: 20px;
    background: #fefefe;
    border-bottom: 1px solid #ccc;
}
.CartIMG{
	padding-left:0;
}
.cName {
    font-weight: bold;
    font-family: titleFont;
    font-size: 16px;
    margin-bottom: 10px;
}
span.cPrice {
    font-size: 20px;
    font-family: titleFont;
    font-weight: bold;
}

.CartIMG img{
	width:80px;
	height:80px;
}
.titlePage {
    font-family: titleFont;
    font-size: 32px;
}
.row-cart{
	padding:5px;
}
.orderNO{
	float:left;
	display:block;
}
.orderPrice{
	float:right;
	display:block;
}
.checkoutTable {
    padding: 0;
    padding: 20px;
    margin-left: 40px;
    background: #fefefe;
    border-radius: 5px;
}
.totalingDiv{
	    margin-top: 20px;
    padding: 15px 5px;
    border-top: 2px solid #333;
    font-weight: bold;
}
button.removeFromCart {
    background: #eee;
    border: 0;
    padding: 5px;
    box-shadow: 0px 1px 2px #999;
    border-radius: 3px;
}
.removeItem{
	margin-right:5px;
	color:#999;
}
input.continue_Shopping {
    background: #f5d04c;
    border: 0;
    padding: 7px 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.orders {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height:450px;
    overflow-y:scroll;
}
input.purchase {
    border: 0;
    background: #1e824c;
    PADDING: 10px 53px;
    border-radius: 5px;
    color: #fefefe;
    /* position: relative; */
    /* text-align: right; */
    float: right;
    margin-right: 115px;
}
.order {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.Order-Bundle-ID {
    text-align: right;
    font-size: 12px;
}
.Order-Bundle-ID:before {
    content: 'Order-ID:';
    margin-right: 5px;
}
.orderName {
    font-family: titleFont;
    font-size: 20px;
}
.orderBy {
    font-size: 12px;
    /* font-style: italic; */
}
.imageUrl img{
	width:40px;
	height:40px;
}
.OrdersTitle{
	font-size:26px;
	font-weight:bold;
	font-family:titleFont;
	margin:20px 0;
}
.itemHeader {
    background: #eee;
    padding: 10px;
}
.itemBlock {
    padding: 5px;
}
.items {
    height: 450px;
    overflow-y: scroll;
}
.adminactions span {
    margin-left: 20px;
}
.adminactions {
    text-align: right;
}
.itemIMG img{
	width:80px;
	height:80px;
}
.itemDetails {
    padding: 10px;
}
.itemDetails {
    padding: 10px;
    /* border-top: 0; */
    border: 1px solid #ccc;
    border-top: 0;
}
.itemRemove,.itemApprove{
	cursor:pointer;
	opacity:0.6;
}
.itemRemove:hover,.itemApprove:hover{
	cursor:pointer;
	opacity:1;
}
.notificationSent{
	padding:20px;
	border:1px solid #ccc;
	box-shadow:1px 1px 2px #888;
}
.orders-container {
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.orderPage {
    background: #fefefe;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #ccc;
}
.dup_container{
	
}
.Order-Bundle-ID {
    text-align: right;
    font-size: 12px;
    
}
.Order-Bundlecode {
    text-align: right;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.order-ID{
	font-weight:bold;
}

.order-details {
    padding: 25px;
}

.order-price {
    padding: 20px; */
    text-align: right;
    background: #eee;
    font-size: 16px;
    /* font-family: titleFont; */
    padding: 40px 0px;
    width: 115px;
    text-align: center;
    border-radius: 50%;
}
.order-price:after{
	content:"$";
	margin-left:5px;
}
.imgURLORDR img{
	width:120px;
	height:120px;
}
.successNotification {
    padding: 30px;
    background: #f5d04c;
    border-radius: 30px;
    /* color: #fefefe; */
    color: #000;
    margin-top: 30px;
        box-shadow: 0px 1px 1px #555;
}
.successTitle {
    font-size: 24px;
    margin-bottom: 2px;
}
.successTitle span {
    margin-left: 10px;
}
.itemSpec{
	margin-bottom:5px;font-family:Arial;
	font-size:12px;
}
.itemSpec span{
	margin-left:5px;
	font-weight:bold;
}
.AskPrice {
    padding: 25px;
    background: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.AskPrice:after{
	content:'$';
	margin-left:3px;
}
.container-start{
	margin-top:10px;
}
.oBrand {
    margin-top: 32%;
    padding: 6px;
    background: #eee;
    text-align: center;
    box-shadow: 0px 1px 0px #ccc;
}
.mask-a,.mask-b{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.56;
	z-index:5;
}